
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-image: url("images/om2_icon.jpg");
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: 600px;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #FCE4EC;
}
a:hover {
  color: #F48FB1;
}

.navbar{
  background-color: #C2185B;
}
.navbar-brand{
  color: white;
}

/* Section Styles */

header {
  text-align: center;
  background: url('images/portland.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid black;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.7) rotate(5deg);
}

.video-container {
    padding-bottom: 40px;
    padding-top: 35px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-container iframe {
    top:0;
    left: 0;
    width:700 ;
    height:400;
    border: 8px solid;
    border-color: #D81B60;
    border-radius: 5px;
}

.tag {
  background-color: #E91E63;
  color: floralwhite;
  padding: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 20px;
  display: table;
  margin: 10px auto;
} 
.message {
  background-color: #E91E63;
  color: floralwhite;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 10px solid #ccc;
  border-radius: 8px;
  transition: all 1s;
}
.card:hover {
  border-color: #F06292;
  transform: scale(1.2);
}

/*Changes For Mobile Functionality*/
@media screen and (max-width: 700px){
  .card {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .card_q{
    margin: 0 auto;
  }
  .card_q li{
    margin: 0 auto;
  }
   h2 {
     font-family: "Comic Sans MS", cursive, sans-serif; 
  }
  
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #F48FB1;
  color: white;
  padding: 5px 20px;
  margin: 4px;
}

.skills li:nth-child(odd) {
  background: #F06292;
}

ul.inspir {
   padding: 0;
  text-align: center;
}

.inspir li {
 border-radius: 6px;
  display: inline-block;
  background: #F48FB1;
  color: white;
  padding: 5px 20px;
  margin: 4px;
}

.inspir li:nth-child(odd) {
  background: #F06292;
}
ul.card_q {
  padding: 0;
  text-align: center;
}

.card_q li {
  border-radius: 6px;
  display: inline-block;
  background: #F48FB1;
  color: white;
  padding: 5px 20px;
  margin: 4px;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.card_q h2 {
  border-radius: 10px;
  background: #E91E63;
  font-size: 30px;
}



footer {
  width: 100%;
  min-height: 30px;
  padding: 140px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

div.social_media {
  display: inline-block;
  margin-top: 200px;
}
a.social_media {
  color: black;
}
a.social_media:hover {
  transition: all .25s;

  opacity: 1;
}
i {
  padding:40px;
  background: #FCE4EC;
  border-radius: 80px;
}
i:hover {
    transition: all 2s;
   transform: scale(2);
}


.description{
  font-size: 5px;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }


  .row{
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
#name {
    width: 275px;
    height: 30px;
 }
#email {
    width: 275px;
    height: 30px;
 }
#message{
    width: 375px;
    height: 100px;
 }
#submit_button{
    border-radius: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    background-color: #F06292;
    color: #fff;
    width: 100px;
    height: 40px;
}
label {
  color: #D81B60;
  font: bold;
}
input {
  margin: 0 auto;
}
textarea {
  margin: 0 auto;
}


  h2 {
     font-family: "Comic Sans MS", cursive, sans-serif; 
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

