
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
  background-image: url("images/galaxyblue_icon.png");
  background-size: 2000px;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #FCE4EC;
}
a:hover {
  color: #00897B;
}

.navbar{
  background-color: #167ac6;
}
.navbar-brand{
  color: white;
}

/* Section Styles */

header {
  text-align: center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.7) rotate(5deg);
}

.container {
    width: 60%;
    height: 60%;
   
}
iframe{
    border: 8px solid;
    border-color: #00897B;
    border-radius: 5px;
}


.tag {
  background-color: #1E88E5;
  color: floralwhite;
  padding: 10px;
  letter-spacing: 5px;
  font-family: 'Caveat Brush', cursive;
  border-radius: 20px;
  display: table;
  margin: 10px auto;
} 
.message {
  background-color: #1E88E5;
  color: floralwhite;
  font-size: 30px;
  font-family: 'Gochi Hand', cursive;
  letter-spacing: 2px;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 10px solid #ccc;
  border-radius: 8px;
  transition: all 1s;
}
.card:hover {
  border-color: #00897B;
  transform: scale(1.2);
}

/*Changes For Mobile Functionality*/
@media screen and (max-width: 600px){
  body{
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  .card {
    display: block;
    margin: 0 auto;
   width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .card_q{
    margin: 0 auto;
  }
  div.social_media {
  margin: 0 auto;
}
  ul.question {
   padding: 0;
  text-align: center;
}
 li .question  {
  border-radius: 6px;
  display:block;
  background: #167ac6;
  color: white;
  padding: 5px 2px;
  margin: 4px;
}
   .flex {
      display: block;
      margin: 0 auto;
      width: 300px;
      
  }
  #submit_button{
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Caveat Brush', cursive;
    font-size: 20px;
    background-color: #00897B;
    color: #fff;
    width: 100px;
    height: 40px;
}
#submit_button:hover{
    background-color: #7E57C2;
}
main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #039BE5; 
  color: white;
  padding: 5px 20px;
  margin: 4px;
}

.skills li:nth-child(odd) {
  background: #167ac6;
}

ul.inspir {
   padding: 0;
  text-align: center;
}

.inspir li {
 border-radius: 6px;
  display: inline-block;
  background: #167ac6;
  color: white;
  padding: 5px 20px;
  margin: 4px;
}

.inspir li:nth-child(odd) {
  background: #039BE5; 
}
ul.card_q {
  padding: 0;
  text-align: center;
}

.card_q li {
  border-radius: 6px;
  display: inline-block;
  background: #167ac6;
  color: white;
  padding: 5px 20px;
  margin: 4px;
  font-size: 20px;
  font-family: 'Gochi Hand', cursive;
}
.card_q h2 {
  border-radius: 10px;
  background: #7E57C2;
  font-size: 50px;
}



footer {
  width: 100%;
  min-height: 30px;
  padding: 140px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

div.social_media {
  display: inline-block;
  margin-top: 200px;
  transform: scale(1.7);
 
}
a.social_media {
  margin: 20px;
}

/*Fonts Letters*/
/*font-family: 'Caveat Brush', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Bungee', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Monoton', cursive;
font-family: 'Titan One', cursive;*/


.description{
  font-size: 5px;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 100%;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

 
#name {
    width: 275px;
    height: 30px;
 }
#email {
    width: 275px;
    height: 30px;
 }
#message{
    width: 375px;
    height: 100px;
 }
#submit_button{
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Caveat Brush', cursive;
    font-size: 20px;
    background-color: #00897B;
    color: #fff;
    width: 100px;
    height: 40px;
}
#submit_button:hover{
    background-color: #7E57C2;
}

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

}

 .row{
    font-size: 30px;
    
  }
label {
  color: white;
  letter-spacing: 5px;
  font-family: 'Titan One', cursive;
}
input {
  margin: 0 auto;
}
textarea {
  margin: 0 auto;
}
h2{
  font-family: 'Bungee Shade', cursive;
}
 footer {
    font-size: 1em;
    color: white;
    max-width: 1200px;
    margin: 40px auto;
}
p{
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
}

